h5 {
    margin-bottom: 5px !important;
}

a {
    text-decoration: none;
}

.title-name {
    color: #2ecc71;
}

.avatar-img {
    border: dashed;
    margin-left: 15px;
    width: 100%;
}

.color-btn {
    color: #3bcf7a;
}