
a {
    text-decoration: none;
}

.color-btn {
    color: #3bcf7a !important;
}

.form-control {
    color: #3bcf7a !important;

}

.btn-success {
    background-color: #3bcf7a !important;
    border-color: #3bcf7a !important;
    color: #fff !important;
}